@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background: linear-gradient(235deg, #0a0909, #212121);
  width: 100vw;
  height: 100vh;
  font-family: "Urbanist";
  text-transform: uppercase;
}

body,
a {
  color: #ffffff;
  text-decoration: none;
}

section {
  height: 100vh;
}

.hidden {
  overflow-y: hidden;
}

.arrow {
  transform: rotate(-45deg);
  margin-right: 5px;
  opacity: 0;
  transition: 0.5s ease;
}

header {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
header .container-link {
  overflow: hidden;
  width: 100%;
  text-align: center;
}
header a {
  font-size: 17px;
  display: inline-block;
  transform: translateY(0);
  transition: 0.1s ease;
}
header a p {
  pointer-events: none;
  transition: 0.5s ease;
}
header a div {
  display: flex;
  pointer-events: none;
}
header a .activeTransition p {
  transform: translateY(-100%);
}
header a .under-text {
  position: absolute;
  top: 100%;
}
header a.active p {
  transform: translateY(-100%);
}
header .orangeRed {
  color: #ff4500;
}

@media (max-width: 425px) {
  header {
    margin-top: 0;
    padding: 10px 0;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
}
#contact {
  z-index: 3;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#contact .contact-link-container {
  font-size: 12px;
  font-weight: 500;
  text-align: end;
  overflow: hidden;
}
#contact .contact-link-container:hover svg {
  opacity: 1;
}

@media (max-width: 425px) {
  #contact {
    bottom: 25px;
    right: 25px;
  }
}
.littleCross {
  display: flex;
  height: 130px;
  width: 100%;
  justify-content: space-between;
}
.littleCross .cross {
  width: 15px;
  height: 15px;
  position: relative;
}
.littleCross .cross-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.littleCross .cross .trait--1,
.littleCross .cross .trait--2,
.littleCross .cross .trait--3,
.littleCross .cross .trait--4 {
  position: absolute;
  background: #ffffff;
}
.littleCross .cross .trait--1 {
  width: 50%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.littleCross .cross .trait--2 {
  width: 50%;
  height: 2px;
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
}
.littleCross .cross .trait--3 {
  height: 50%;
  width: 2px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.littleCross .cross .trait--4 {
  height: 50%;
  width: 2px;
  right: 50%;
  transform: translateX(50%);
}

#home .text-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  justify-content: center;
}
#home .text-container .name,
#home .text-container .firstName {
  overflow: hidden;
}
#home .text-container .name {
  display: flex;
}
#home .text-container .firstName {
  margin-left: 5vw;
  position: relative;
  display: flex;
}
#home .text-container .firstName .after {
  font-size: 1.1vw;
  font-weight: 100;
  letter-spacing: 0;
  text-transform: initial;
  position: absolute;
  right: 0;
  display: flex;
}
#home .text-container .firstName .after .hiddenLetter {
  overflow: hidden;
}
#home .text-container .firstName .after .hiddenLetter:nth-child(12) p {
  margin-left: 5px;
}
#home .text-container .firstName .after div {
  display: flex;
}
#home .text-container h1 {
  font-size: 8vw;
  font-weight: 100;
}

@media (max-width: 425px) {
  #home .text-container h1 {
    font-size: 12vw;
  }
  #home .text-container .firstName .after {
    font-size: 2.9vw;
    top: -2px;
  }
}
#aboutMe .trait {
  z-index: 6;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 1px;
  height: 25%;
  background: #ffffff;
}
#aboutMe .cross-back {
  width: 70%;
  height: 70%;
  cursor: pointer;
  position: relative;
}
#aboutMe .cross-back-container {
  z-index: 6;
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#aboutMe .cross-back::after, #aboutMe .cross-back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ffffff;
  top: 50%;
  left: 50%;
}
#aboutMe .cross-back::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
#aboutMe .cross-back::before {
  transform: translate(-50%, -50%) rotate(135deg);
}
#aboutMe .about-description {
  z-index: 6;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#aboutMe .about-description .description1,
#aboutMe .about-description .description2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#aboutMe .about-description .description1 div:nth-child(1), #aboutMe .about-description .description1 div:nth-child(4), #aboutMe .about-description .description1 div:nth-child(6), #aboutMe .about-description .description1 div:nth-child(8), #aboutMe .about-description .description1 div:nth-child(11) {
  margin-bottom: 20px;
}
#aboutMe .about-description .description2 div:nth-child(2), #aboutMe .about-description .description2 div:nth-child(4) {
  margin-bottom: 20px;
}
#aboutMe .about-description div {
  overflow: hidden;
}
#aboutMe .about-description div p {
  font-size: 17px;
}
#aboutMe .sectionAboutMe {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #192929;
}
#aboutMe .sectionAboutMe svg {
  position: absolute;
  bottom: -99px;
  width: 100%;
  height: 100px;
}
#aboutMe .sectionAboutMe svg path {
  fill: #192929;
}
#aboutMe .about-btn {
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#aboutMe .about-btn p {
  background: linear-gradient(90deg, transparent, #ffffff, transparent, #ffffff, transparent);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  color: transparent;
  background-position: 0px 0;
  font-size: 20px;
  white-space: nowrap;
  animation: background-position 2.5s linear infinite;
  letter-spacing: 2px;
}
@keyframes background-position {
  100% {
    background-position: -65% 0;
  }
}
@media (max-width: 1024px) {
  #aboutMe .about-description div p {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  #aboutMe .trait {
    display: none;
  }
  #aboutMe .about-description {
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 45%;
  }
  #aboutMe .about-description div p {
    font-size: 13px;
  }
  #aboutMe .cross-back-container {
    bottom: 5%;
  }
}
@media (max-width: 425px) {
  #aboutMe .about-description {
    padding: 10px;
  }
  #aboutMe .about-description div p {
    font-size: 11px;
  }
  #aboutMe .about-btn {
    bottom: 25%;
  }
  #aboutMe .cross-back {
    width: 50%;
  }
}

#projets {
  display: flex;
  justify-content: center;
}
#projets .background {
  background: linear-gradient(235deg, #0a0909, #212121);
  position: fixed;
  width: 100%;
  height: 100vh;
}
#projets .container-projets {
  z-index: 1;
  position: absolute;
  top: 0;
  display: grid;
  justify-items: center;
  width: 68%;
  height: 300vh;
  margin: 15vh 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#projets .container-projets img {
  width: 100%;
  height: 140%;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
}
#projets .container-projets .projet-1, #projets .container-projets .projet-2, #projets .container-projets .projet-3, #projets .container-projets .projet-4, #projets .container-projets .projet-5, #projets .container-projets .projet-6 {
  pointer-events: none;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
}
#projets .container-projets .projet-1 {
  top: 0;
  left: 0;
}
#projets .container-projets .projet-3 {
  margin-top: 300px;
  top: 10%;
  right: 0;
}
#projets .container-projets .projet-2 {
  top: 12%;
  left: 50%;
  width: 300px;
  height: 400px;
}
#projets .container-projets .projet-5 {
  bottom: 20%;
  left: 0;
}
#projets .container-projets .projet-4 {
  bottom: 50%;
  right: 50%;
  width: 300px;
  height: 400px;
}
#projets .container-projets .projet-6 {
  bottom: 0;
  right: 10%;
}
#projets .text-container {
  position: fixed;
  bottom: 10%;
  width: 100%;
  display: flex;
  padding: 0 50px;
  align-items: center;
}
#projets .text-container .title {
  font-size: 140px;
  margin-right: 50px;
  display: flex;
}
#projets .text-container .title div {
  overflow: hidden;
}

@media (max-width: 1024px) {
  #projets .container-projets {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    margin: 0;
    overflow: hidden;
  }
  #projets .container-projets .projet-1, #projets .container-projets .projet-2, #projets .container-projets .projet-3, #projets .container-projets .projet-4, #projets .container-projets .projet-5, #projets .container-projets .projet-6 {
    width: 100%;
    height: 500px;
    position: initial;
  }
  #projets .container-projets .projet-3 {
    margin-top: 0;
  }
  #projets .text-container {
    display: none;
  }
}
@media (max-width: 425px) {
  #projets .container-projets .projet-1, #projets .container-projets .projet-2, #projets .container-projets .projet-3, #projets .container-projets .projet-4, #projets .container-projets .projet-5, #projets .container-projets .projet-6 {
    height: 320px;
  }
}
#projet {
  background: #192929;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#projet .cross,
#projet .img-container,
#projet .animate-text-container,
#projet .txtProjet {
  z-index: 2;
  position: fixed;
}
#projet .img-container {
  overflow: hidden;
  pointer-events: none;
  top: 60%;
  transform: translateY(-50%);
  right: 10%;
  width: 400px;
  height: 500px;
}
#projet .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projet .cross {
  z-index: 3;
  overflow: hidden;
  top: 50px;
  left: 50px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projet .cross .svg {
  width: 100%;
  height: 100%;
}
#projet .cross .svg::before, #projet .cross .svg::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  transform: translate(-50%, -50%) rotate(135deg);
  background: #ffffff;
  border-radius: 20px;
}
#projet .cross .svg::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
#projet .buttons-container {
  display: flex;
  justify-content: space-around;
}
#projet .buttons-container .parent-btn {
  overflow: hidden;
  margin: 10px 0;
  font-size: 25px;
}
#projet .buttons-container .parent-btn .button {
  display: flex;
  justify-content: end;
  align-items: center;
}
#projet .buttons-container .parent-btn .button:hover svg {
  opacity: 1;
}
#projet .animate-text-container {
  display: flex;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-size: 120px;
  width: 65%;
  -webkit-mask-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 11%, rgb(0, 0, 0) 91%, rgba(255, 255, 255, 0) 100%);
  white-space: nowrap;
}
#projet .animate-text-container .anime {
  display: flex;
  animation: animeTxt 30s linear infinite;
}
#projet .animate-text-container .P4 {
  animation-duration: 15s;
}
@keyframes animeTxt {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#projet .animate-text-container .point-container,
#projet .animate-text-container .words-container {
  font-weight: 600;
  display: flex;
  align-items: center;
}
#projet .animate-text-container .words-container {
  display: flex;
}
#projet .animate-text-container .words-container:nth-child(odd) {
  font-weight: 100 !important;
}
#projet .animate-text-container .words-container .word {
  display: flex;
  margin: 10px;
}
#projet .txtProjet {
  top: 60%;
  transform: translateY(-50%);
  left: 10%;
  font-size: 25px;
}
#projet .txtProjet .projet_description {
  overflow: hidden;
}
#projet .txtProjet .projet_description_trait {
  width: 70%;
  height: 1px;
  background: #ffffff;
  margin: 50px auto;
}

@media (max-width: 1024px) {
  #projet .animate-text-container {
    width: 95%;
  }
  #projet .animate-text-container .anime {
    font-size: 12vw;
  }
  #projet .img-container {
    filter: brightness(0.4);
    width: 100%;
    height: 100%;
    right: 0;
    top: 50%;
  }
  #projet .txtProjet {
    transform: translate(-50%, -50%);
    left: 50%;
    white-space: nowrap;
    text-align: center;
  }
  #projet .cross {
    top: 25%;
    left: 50%;
  }
}
@media (max-width: 768px) {
  #projet .buttons-container .parent-btn,
  #projet .txtProjet {
    font-size: 3vw;
  }
  #projet .animate-text-container .anime {
    font-size: 75px;
  }
}
@media (max-width: 425px) {
  #projet .buttons-container .parent-btn,
  #projet .txtProjet {
    font-size: 11.5px;
  }
  #projet .cross {
    width: 20px;
    height: 20px;
  }
}
.error {
  margin-bottom: 100px;
}
.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.error-container a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 2px solid #ffffff;
  padding: 20px 50px;
  border-radius: 20px;
  white-space: nowrap;
}
.error-container a, .error-container a::after {
  transition: 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
.error-container a:hover {
  padding: 20px 70px;
}
.error-container a:hover::after {
  bottom: 0;
}
.error-container a::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #ff4500;
}
.error-container .big404 {
  font-size: 270px;
  display: flex;
}
.error-container .big404 p:nth-child(even) {
  color: #ff4500;
}
@media (max-width: 425px) {
  .error .big404 {
    font-size: 135px;
  }
  .error .txt404 {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */